@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inconsolata&family=Montserrat&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

/*#527853
#F9E8D9
#F7B787
#EE7214



#C3E2C2
#EAECCC
#DBCC95
#CD8D7A
*/

body {
    width: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}
.site-sidebar {
    width: 25%;
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    background-color: rgba(82,120,83,0.8);
    position: fixed;
    height: 100%;
}
.sidebar-nav, .sidebar-social-media {
    text-align: left;
    padding-left: 3rem;
    padding-top: 3rem;
}
.sidebar-nav {
    font-size: 75%;
    line-height: 2.0;
}
.projects:hover, .cv:hover, .contact:hover, .about-me:hover {
    text-decoration: underline;
}
.sidebar-social-media h4 {
    font-size: 70%;
    color: #fff;
}
.avatar {
    border-radius: 50%;
    display: block;
    margin: 3rem auto;
}
.avatar-content h4, .avatar-content h1 {
    margin: 0 ;
}
.uppercase {
    text-transform: uppercase;
}
.about-me, .contact {
    display: block;
}
.linkedin-icon, .facebook-icon, .twitter-icon {
    width: 10%;
}
.site-main {
    margin-left: 25%;
    padding-left: 2rem;
    padding-bottom: 3rem;
    background-color: azure;
    background-size: auto;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
}
.page-title {
    padding-top: 3rem;
}
nav a {
    text-decoration: none;
    color: #fff;
}
.portfolio-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.timeline-text-side {
    grid-column: 1/2;
}
.timeline-image-side {
    grid-column: 2/3;
    margin: 2rem 2rem 2rem 0;
}
.timeline-image {
    width: 90%;
}
.timeline-description {
    padding: 0 2.5rem;
    list-style-type: circle;
}
.timeline-description li {
    padding-bottom: 1rem;
    
}
.button {
    background-color: #EE7214;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 20px;
    margin-top: 50px;
    border-radius: 5px;
}
.button-box a:hover {
    text-decoration: underline;
}
.button-box {
    margin: 2rem 0;
    text-align: center;
    display: none;
}

/* PROJECTS SECTION BEGINS */

hr {
    border: 1px solid #000;
    margin-right: 30px;
}
.button-box {
    text-align: center;
    margin-top: 4rem;
  }
  .button:hover {
    text-decoration: underline; 
  }
 
  .projects-img img {
    width: 100%;
  }
  .projects-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem auto;
  }
  .projects-desc {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: auto;
}
.vl {
    border-left: 5px solid #000;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    margin: auto; 
  }
  .projects-img {
    grid-column: 3/4;
    grid-row: 1/4;
    margin: auto;
    text-align: center;
  }
  /* ---------------FOOTER-------------*/
  footer {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: 10;
    position: fixed;
}
.footer-link {
    color: #fff;
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}

/* -----------CONTACT ME-----------*/
.contact-heading {
    padding-top: 2rem;
}
.contact-container {
    background-size: cover;
}
.contact-container li {
    list-style-type: none;
    margin: 1rem 0;
}
.vcard {
    font-weight: bold;
}
.contact-social-media {
    padding: 4rem 0;
}
.contact-social-media li a {
    text-decoration: none;
    padding-left: 1rem;
}
.contact-social-media li a:hover {
    text-decoration: underline;
}
.slogan {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #fff;
    margin-left: 25%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

/*----------------CV---------------*/
.cv-container {
    background-color: #d5d4d4;  
}
.cv-page {
    width: 600px;
    height: 900px;
    border: 1px solid #000;
    margin: auto;
    text-align: center;

}
.cv-container h1 {
    color: #6b14ee;
}


/* ------------MEDIA --------------*/
@media (max-width: 1000px){
    .avatar {
        margin-top: 0;
        padding-top: 1rem;
    }
    .avatar-content p {
        font-size: 90%;
    }
    
    .portfolio-timeline {
        display: grid;
        grid-template-columns: 1fr;
    }
    .timeline-text-side {
        grid-column: 1/1;
        grid-row: 1/2;
    }
    .timeline-image-side {
        grid-column: 1/1;
        grid-row: 2/3; 
    }
    
    .site-sidebar{
        position: relative;
        width: 100%;
        height: 80%;
        text-align: center;
        z-index: 1;
        margin-top: 0;
        padding-top: 0;

    }
    .site-main {
        margin-left: 0;
        display: block;
        z-index: 10;
    }
    footer {
        z-index: 2;
    }
    .sidebar-social-media {
        width: 40%;
    }
}
@media (max-width: 480px) {
    .button-box {
        text-align: left; 
    }
    .sidebar-nav, .sidebar-social-media {
        display: none;
    }
    .site-sidebar {
        height: 60%;
    }

}
  